<div id="winner-overlay">
  <div class="winner-container">
    <div class="winner-box">
      <div class="winner-text">
        <span class="letra-color">Congratulations!</span> <br>
      </div>
      <div class="winner-img-stars">
        <img src="{{imageUrlStars}}" />
      </div>
    </div>
    <div class="winner-img">
      <img src="{{imageUrlCongratulations}}" />
    </div>
    <div>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="resetLevel()">Reset Level</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="nextLevel()" [disabled]="!nextLevelAvailable">Next level</button>
    </div>
  </div>
</div>
