<div class="my-container">
  <div class="card-container">

    <div class="header">
      <span class="letra-color">Nivel {{ level }}</span>
      <!-- <span class="letra-color">03:00:00</span> -->
    </div>

    <div *ngFor="let card of cards;">
      <div class="card" (click)="cardClicked(card)" [@cardFlip]="card.state" #card>
        <div class="face back">
          <img src="{{imageUrlBackOfCard}}" />
        </div>
        <div class="face front">
          <img [src]="card.imageUrl" />
        </div>
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="autoWinner()">Auto Winner</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="resetGame()">Reset Game</button>
    </div>

  </div>
</div>


<div *ngIf="winner else noWinner">
  <div id="winner-overlay">
    <div class="winner-container">
      <div class="winner-box">
        <div class="winner-text">
          <span class="letra-color">Congratulations!</span> <br>
        </div>
        <div class="winner-img-stars">
          <img src="{{imageUrlStars}}" />
        </div>
      </div>
      <div class="winner-img">
        <img src="{{imageUrlCongratulations}}" />
      </div>
      <div>
        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="resetLevel()">Reset
          Level</button>
        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="nextLevel()"
          [disabled]="!nextLevelAvailable">Next level</button>
      </div>

    </div>
  </div>
</div>

<ng-template #noWinner></ng-template>

 <div *ngIf="firstTime else noFirstTime">
   <div id="thx-overlay">
    <div class="thx-container">
      <div class="thx-text">
        <span class="letra-color">Thank you so much for to playing my </span> <br>
        <span class="letra-color">game!</span>
      </div>
      <div class="thx-img">
        <img src="{{imageUrlFirstTime}}" />
      </div>
      <div>
        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="startGame()">Start Game</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noFirstTime></ng-template>
