div.timer {
  display: flex !important;
  align-items: center;
}

.my-col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  /* margin: 5px; */
  /* background-color: #37474f71; */
}

